<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings><!--SMYHDA_SCCS_ChouCe_Test2SMYHDA_GY_HS_FTU-->
    <add name="ConnStr"  connectionString=" data source=.;initial catalog=role;user id=sa;password=sa"/>
  </connectionStrings>
  <appSettings> 
    <add key="FB101LinkaddressLength" value="1"/><!--非平衡的地址的长度-->
    <add key="B101LinkaddressLength" value="2"/><!--平衡的地址的长度-->
    <add key="ReConnectTime" value="10000"/><!--重新连接循环时间-->
    <add key="HeartText" value="-1"/><!--发送心跳包时间_-1为取消定时发送心跳包-->
    <add key="SendBlance_101SOETime" value="3000"/><!--平衡101SOE扫描时间-->
  </appSettings>
  </configuration>